<div class="row">
  <div class="col-10 mx-auto mt-2">
    <h1 class="text-center">Welcome to <span class="text-warning">The Tech Blog</span></h1>
    <h6 class="text-center">View {{#if logged_in}}and comment on{{/if}} recent postings by clicking on the cards below.
    </h6>
    {{#unless logged_in}}<h6 class="text-center"><a href="/login">Log in</a> to create and comment on posts!{{/unless}}
    </h6>
  </div>
</div>
<hr class="mt-0">

{{#each blogPostData as |blogPost|}}
<div class="container card">
  <div class="row p-1 my-auto" data-bs-toggle="collapse" data-bs-target="#blog{{blogPost.id}}Collapse"
    aria-expanded="false" aria-controls="blog{{blogPost.id}}Collapse">
    <h3 class="col-6 my-auto">{{blogPost.post_title}}</h3>
    <div class="col-6 d-flex flex-column">
      <p class="col-12 my-0 text-muted text-end">Posted {{format_date_time blogPost.createdAt}}</p>
      <p class="col-12 my-0 text-muted text-end">By {{blogPost.user.user_name}}</p>
    </div>
  </div>
  <div class="collapse" id="blog{{blogPost.id}}Collapse">
    <hr>
    <div class="col-12">
      <h6 class="card-subtitle mb-2 text-muted">Last Edited {{format_date_time blogPost.updatedAt}}</h6>
      <p class="card-text mt-0">{{blogPost.post_body}}
      </p>
      <hr class="mb-0">
      <div class="card-body mt-0">
        <div id="post-{{blogPost.id}}-comment-section" class="comments-section mt-3">
          <h4>Comments</h4>
          <div>
            {{#if ../logged_in}}
            <div class="input-group mb-2" id="comment-form-{{blogPost.id}}">
              <input type="text" class="form-control" id="new-comment-body-{{blogPost.id}}"
                placeholder="Type comment here..." aria-label="Comment" aria-describedby="basic-addon1">
              <button class="btn btn-warning submit-comment" id="{{blogPost.id}}">
                Leave Comment
              </button>
            </div>
            {{/if}}
            {{#each blogPost.comments as |comment|}}
            <div class="container">
              <div class="row">
                <div class="card my-3">
                  <small class="text-muted">On {{format_date_time comment.createdAt}}, {{#if (isEqual
                    ../../current_user_id comment.user.id) }}you{{/if}}{{#unless (isEqual ../../current_user_id
                    comment.user.id)}}{{comment.user.user_name}}{{/unless}} said:
                  </small>
                  <p id="comment-body-{{comment.id}}">{{comment.comment_body}}</p>
                  {{#if (isEqual ../../current_user_id comment.user.id) }}
                  <div class="d-flex justify-content-center" id="commentManageBtns">
                    <button class="btn btn-warning col-3 mx-2 my-1 edit" id="{{comment.id}}" type="button"
                      data-bs-toggle="modal" data-bs-target="#editCommentModal">Edit</button>
                    <button class="btn btn-danger col-3 mx-2 my-1 delete" id="{{comment.id}}" data-bs-toggle="modal"
                      data-bs-target="#confirmCommentDeleteModal">Delete</button>
                  </div>
                  {{/if}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
{{/each}}

<div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="comment_body_edit" class="form-label">Make changes below and click save to confirm.</label>
            <textarea name="comment_body_edit" type="textarea" class="form-control" id="comment_body_edit"
              aria-describedby="commentBodyHelp"></textarea>
            <input type="text" class="d-none" id="comment_id_reference">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" id="submit_comment_edit">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="confirmCommentDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-danger">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this comment?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-danger d-hidden my-1 small" id="errorMsg">An error occured. Please contact support.</p>
        <p>This action cannot be undone!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div class="d-flex align-center my-4">
          <button type="button" class="btn btn-danger" id="submit-comment-delete">Delete Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="/js/homepage.js"></script>